.cantina-club-layout {
    padding: 2rem 0;
}

.cantina-club-container {
    display: flex;
    flex-direction: column;

    > header {
        padding: 1rem;
        background: darken(white, 15%);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border: 1px solid darken(white, 20%);

        h1 {
            font-size: 1.5rem;
        }
    }

    > section {
        display: flex;
        @media (max-width: 639px) {
            flex-direction: column;
        }
    }

    main {
        flex: 1;
        border: 1px solid darken(white, 20%);
        border-top: 0;
        border-bottom-right-radius: 1rem;
        @media (max-width: 639px) {
            border-bottom-left-radius: 1rem;
        }

        > header {
            padding: 1rem;
            padding-left: 2rem;
            background: $primaryColor;
            border-left: 1px solid $primaryColor;
            margin-left: -1px;
            @media (max-width: 639px) {
                margin-left: -1px;
                margin-right: -1px;
            }

            h2 {
                color: white;
                font-size: 1.5rem;
            }
        }

        > section {
            padding: 1rem;
            padding-left: 2rem;
            @media (max-width: 639px) {
                padding-left: 1rem;
            }
        }
    }
}
