.cantina-club-sidebar {
    background: darken(white, 15%);
    border-bottom-left-radius: 1rem;

    :is(a, form) {
        width: 100%;
        display: flex;
        background: darken(white, 15%);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            border-bottom-left-radius: 1rem;
            @media (max-width: 639px) {
                border-bottom-left-radius: 0;
            }

            .icon-container {
                border-bottom-left-radius: 1rem;
                @media (max-width: 639px) {
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    .icon-container, .name {
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .icon-container {
        color: white;
        justify-content: center;
        background: $primaryColor;
        border-bottom: 1px solid darken($primaryColor, 5%);
    }

    .name {
        flex: 1;
        padding-right: 2rem;
        background: darken(white, 10%);
        border-bottom: 1px solid darken(white, 25%);
        position: relative;
        z-index: 1;
    }

    :is(a, form):hover {
        .icon-container {
            background: $secondaryColor;
            border-color: $secondaryColor;
        }
    }

    :is(a, form).active {
        .icon-container, .name {
            color: white;
            background: $secondaryColor;
            border-color: darken($secondaryColor, 5%);
        }

        .name:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
            width: 0;
            height: 0;
            border: 0.5rem solid transparent;
            border-left: 0.5rem solid $secondaryColor;
            z-index: 1;
            @media (max-width: 639px) {
                display: none;
            }
        }
    }
}
