@import 'master/variables';
@import 'master/mixins';

@import 'master/fonts';
@import 'master/reset';

html, body
{
    width: 100%;
    height: 100%;
    background-color: $offWhite;
    font-size: 24px;
    color: $primaryColor;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

table
{
    width: 100%;
    height: 100%;
}

th, td
{
    text-align: center;
    vertical-align: middle;
}

h1
{
    font-size: 2em;
    position: relative;
    animation: fadeDown 1s;
    -o-animation: fadeDown 1s;
    -moz-animation: fadeDown 1s;
    -webkit-animation: fadeDown 1s;
}

hr
{
    width: 50%;
    border: 0;
    border-top: 1px solid $lightGrey;
    margin: 40px auto;
    animation: widen 1s;
    -o-animation: widen 1s;
    -moz-animation: widen 1s;
    -webkit-animation: widen 1s;
}

p
{
    position: relative;
    animation: fadeUp 1s;
    -o-animation: fadeUp 1s;
    -moz-animation: fadeUp 1s;
    -webkit-animation: fadeUp 1s;
}

@keyframes fadeDown
{
    0% { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0; }
}

@-o-keyframes fadeDown
{
    0% { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0; }
}

@-moz-keyframes fadeDown
{
    0% { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0; }
}

@-webkit-keyframes fadeDown
{
    0% { opacity: 0; top: -30px; }
    100% { opacity: 1; top: 0; }
}

@keyframes widen
{
    0% { width: 0; }
    100% { width: 50%; }
}

@-o-keyframes widen
{
    0% { width: 0; }
    100% { width: 50%; }
}

@-moz-keyframes widen
{
    0% { width: 0; }
    100% { width: 50%; }
}

@-webkit-keyframes widen
{
    0% { width: 0; }
    100% { width: 50%; }
}

@keyframes fadeUp
{
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

@-o-keyframes fadeUp
{
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

@-moz-keyframes fadeUp
{
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

@-webkit-keyframes fadeUp
{
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}
