.menu-builder {
    overflow: hidden;

    .toolbar {
        float: right;

        li {
            float: left;
            margin-left: 1rem;
        }

        button {
            background-color: white;
            padding: 1rem;
            border: 1px solid $lightGrey;
            border-radius: 0.25rem;
            transition: background-color 0.25s ease, color 0.25s ease;

            .fa-caret-down {
                margin-left: 6px;
            }

            &:hover {
                color: white;
                background-color: $primaryColor;
            }
        }
    }

    .workspace {
        clear: both;

        .fa-spin {
            color: $primaryColor;
        }

        .column {
            min-height: 128px;
            float: left;
            padding: 1rem;
            border-left: 1px solid $lightGrey;
            box-sizing: border-box;

            &:first-of-type {
                border-left: 0;
            }

            &.column-1 {
                width: 100%;
            }

            &.column-2 {
                width: 50%;
            }

            &.column-3 {
                width: 33.33%;
            }

            > .entity {
                display: block;
                margin: 1rem 0;
                padding: 1rem;
                position: relative;
                background-color: white;
                border-radius: 0.25rem;
                box-shadow: 0 1px 3px $lightGrey;
                box-sizing: border-box;
                transition: box-shadow 0.25s ease;

                .fa-times {
                    cursor: pointer;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 1.5;
                    background-color: white;
                    position: absolute;
                    top: -12px;
                    right: -12px;
                    box-shadow: 0 1px 3px $lightGrey;
                    transition: box-shadow 0.25s ease;
                    &:hover {
                        box-shadow: 0 4px 20px $lightGrey;
                    }
                }

                hr {
                    margin: 0;
                }

                &:hover {
                    box-shadow: 0 4px 20px $lightGrey;
                }
            }

            .dropzone {
                width: 100%;
                display: block;
                margin: 20px 0;
                padding: 20px;
                background-color: white;
                border: 2px dashed $lightGrey;
                border-radius: 4px;
                color: $lightGrey;
                box-sizing: border-box;
                transition: background-color 0.25s ease, border-color 0.25s ease;

                &:hover {
                    color: white;
                    background-color: $primaryColor;
                    border-color: white;
                }
            }

            h3 {
                background-color: white;
                border-radius: 4px;
                box-shadow: 0 1px 3px $lightGrey;
            }

            .menu-item {
                input, textarea, select {
                    margin-top: 1rem;
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .settings-list {
        background-color: white;
        border-radius: 0.25rem;
        border: 1px solid $lightGrey;
        position: absolute;
        left: -9999px;

        li {
            cursor: pointer;
            padding: 1rem;
            border-top: 1px solid $lightGrey;
            box-sizing: border-box;
            transition: background-color 0.25s ease, color 0.25s ease;

            &:first-of-type {
                border-top: 0;
            }

            &:hover {
                color: white;
                background-color: $primaryColor;
            }
        }
    }

    .template {
        display: none;
    }
}
