.cantina-club-panel {
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    border-radius: 1rem;
    height: fit-content;
    margin-bottom: 2rem;

    > header {
        display: flex;
        align-items: center;
        gap: 1rem;
        background: lighten(#085, 25%);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        overflow: hidden;

        .title-icon {
            padding: 1rem;
            color: white;
            font-size: 1.5rem;
            background: #085;
            border-top-left-radius: 1rem;
        }

        h3 {
            display: flex;
            flex: 1;
            color: black;
            font-weight: 700;
        }

        .tooltip-component {
            margin-left: auto;
            margin-right: 1rem;
        }
    }

    > section {
        flex: 1;
        padding: 1rem;
        background: white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        &.has-footer {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    > footer {
        padding: 1rem;
        background: #085;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        a {
            color: white;
        }
    }
}
