.menu-editor-component {
    section {
        background: white;
        margin-bottom: 1rem;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 15px -5px rgba(0, 0, 0, 0.25);
    }

    .section-header {
        display: flex;
        padding: 0.5rem 1rem;
        align-items: center;
        justify-content: space-between;

        input {
            flex: 1;
            color: #333;
            border: 0;
            border-bottom: 2px solid white;
            outline: none;
            font-weight: 800;
            padding: 0.5rem 0;
            transition: border-color 0.25s ease-in-out;

            &:focus {
                border-color: green;
            }
        }
    }

    .section-body {
        padding: 1rem;
        background: darken(white, 5%);
        border-top: 1px solid darken(white, 15%);
    }

    .item {
        position: relative;
        background: white;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 15px -5px rgba(0, 0, 0, 0.25);

        .fa-trash-o {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    .controls {
        //
    }

    .fa {
        cursor: pointer;
    }

    .fa-trash-o {
        color: red;
        opacity: 0.25;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        transition: opacity 0.25s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    .fa-chevron-up, .fa-chevron-down {
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid darken(white, 10%);
    }

    .content-hider {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }

    .add-section-button, .add-item-button {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1rem;
        border: 1px dashed darken(white, 25%);
        transition: border 0.25s ease-in-out;

        &:hover, &:focus {
            border: 1px solid green;

            .content-hider {
                opacity: 1;
            }
        }
    }
}
