.index-content
{
    width: 100%;
    background-color: $primaryColor;
    padding-bottom: 64px;

    .wrapper:after
    {
        content: ' ';
        display: block;
        width: 100%;
        clear: both;
    }

}
