.hero {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .wrapper {
        position: relative;
        height: 100%;
    }

    img {
        width: 100%;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 2rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 15px -5px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        @media screen and (max-width: 480px) {
            width: calc(100% - 2rem);
        }
    }

    h2 {
        color: white;
        font-size: 2rem;
    }

    p {
        margin-bottom: 0;
    }
}
