.home-grid
{
    overflow: hidden;

    .grid-cell
    {
        width: 50%;
        float: left;
        padding-top: 2rem;
        padding-left: 2rem;
        text-align: center;
        box-sizing: border-box;

        .cell-content
        {
            height: 0;
            width: 100%;
            position: relative;
            padding-bottom: 100%;
        }

        .circle
        {
            margin: 10%;
            width: 100%;
            height: 100%;
            padding: 42px;
            display: block;
            cursor: default;
            position: absolute;
            border-radius: 100%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('/img/sticker.png');
            box-sizing: border-box;
            @media (max-width: 719px)
            {
                background: transparent;
                padding: 0;
            }

            h3
            {
                font-size: 1.5em;
                font-weight: 300;
                text-transform: uppercase;

                @media screen and (max-width: 719px)
                {
                    color: white;
                }

                @media screen and (max-width: 419px)
                {
                    font-size: 1em;
                }
            }
        }

        img
        {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            border: 2px solid white;
            box-sizing: border-box;
        }
    }
}
