.news-and-events
{
    position: relative;
    width: 50%;
    float: left;
    background-color: white;
    text-align: center;
    margin-top: -42px;
    padding: 42px;
    box-sizing: border-box;

    @media screen and (max-width: 1200px)
    {
        display: block;
        width: 100%;
        float: none;
    }
    @media screen and (max-width: 540px)
    {
        padding: 16px;
    }

    img
    {
        display: block;
        margin: 32px auto;
    }

    h1
    {
        color: $secondaryColor;
        font-size: 3em;
        text-transform: uppercase;
        @media screen and (max-width: 960px)
        {
            font-size: 2.5em;
        }
        @media screen and (max-width: 540px)
        {
            font-size: 2em;
        }
    }

    p
    {
        color: $primaryColor;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 2em;
        @media screen and (max-width: 960px)
        {
            font-size: 1.5em;
        }
        @media screen and (max-width: 540px)
        {
            font-size: 1em;
        }
    }

}
