.alert
{
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid $lightGrey;
    background-color: $offWhite;
    box-sizing: border-box;

    h2, h3, h4, h5, h6 {
        margin-bottom: 1rem;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    &.success
    {
        color: white;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    &.info
    {
        color: black;
        background-color: #5bc0de;
        border-color: #46b8da;

        h2, h3, h4, h5, h6 {
            color: black;
        }
    }

    &.warn
    {
        color: white;
        background-color: #f0ad4e;
        border-color: #eea236;
    }

    &.danger
    {
        color: white;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    li
    {
        margin-top: 1rem;

        &:first-of-type
        {
            margin-top: 0;
            font-weight: bold;
        }
    }

}
