.primary-footer {
    background-color: #111;
    padding: 2rem 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .copy-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .auth-links {
        display: flex;
        gap: 1rem;

        a {
            text-decoration: underline;
        }
    }

    p {
        max-width: 72ch;
        color: white;
        text-align: right;
        margin: 10px 0;
        @media screen and (max-width: 959px) {
            width: 100%;
            float: none;
            text-align: center;
        }
    }

    .social-links
    {
        overflow: hidden;
        @media screen and (max-width: 959px) {
            float: none;
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        li {
            float: left;
            margin-right: 2rem;
            @media screen and (max-width: 959px) {
                float: none;
                display: inline-block;
                margin: 2rem;
            }
        }
    }

    a {
        color: white;

        &:hover {
            color: $secondaryColor;
        }
    }
}
