.announcement-banner {
    background: #085;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        @media (max-width: 959px) {
            flex-direction: column;
            text-align: center;
        }
    }

    p {
        margin: 0;
        color: white;
    }

    .buttons {
        display: flex;
        gap: 1rem;
    }

    .buttons a {
        color: white;
        padding: 0.25rem 1rem;
        border: 1px solid white;
        border-radius: 10rem;
        @media (max-width: 959px) {
            padding: 0rem 1rem;
            font-size: 1rem;
        }
    }
}

.primary-header {
    padding: 1rem 0;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    @media screen and (max-width: 719px) {
        height: auto;
    }

    .wrapper {
        position: relative;
    }

    .thirds {
        display: flex;
        align-items: center;
        gap: 1rem;
        @media (max-width: 479px) {
            flex-direction: column;
            justify-content: center;
        }
    }

    .third {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        h3 {
            font-size: 1.25rem;
            line-height: 1.5;
            text-transform: uppercase;
            @media screen and (max-width: 719px) {
                font-size: 1rem;
            }
        }

        img {
            display: block;
        }

        &.logo-third {
            @media (max-width: 479px) {
                order: -1;
            }
        }
    }

    .auth-links {
        display: flex;
        gap: 1rem;

        li {
            color: $primaryColor;
        }
    }
}
