.primary-navigation {
    padding: 1rem 0;
    background-color: $primaryColor;
    overflow: hidden;
    text-align: center;
    box-shadow: $shadow;
    position: relative;
    z-index: 1;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    a {
        color: white;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
