.page-header
{
    background-color: white;
    box-shadow: 0 1px 4px $lightGrey;

    .wrapper
    {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    h1
    {
        font-size: 2em;
    }
}
