nav ul.pagination {
    display: flex;
    margin-top: 2rem;

    li {
        > a, > span {
            display: block;
            padding: 1rem;
            color: black;
            background: darken(white, 10%);
            border: 1px solid darken(white, 25%);
            border-left: 0;
        }

        &:first-of-type {
            > a, > span {
                border-left: 1px solid darken(white, 25%);
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }
        }

        &:last-of-type {
            > a, > span {
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
        }
    }

    .disabled {
        cursor: not-allowed;

        > a, > span {
            color: darken(white, 50%);
            background: darken(white, 25%);
        }
    }

    .active {
        > a, > span {
            color: white;
            background: #085;
            border-color: #085;
        }
    }
}
