<template>
    <div class="editor-component">
        <ul class="alert danger" v-if="error">
            <li>
                An unknown error occurred trying to save the editor data.
            </li>
        </ul>

        <div :id="id" class="editorjs" style="background: white;"></div>

        <input class="output" type="hidden" :name="name">
    </div>
</template>

<script>
    import EditorJS from '@editorjs/editorjs';

    export default {
        mounted() {
            this.editor = new EditorJS({
                holder: this.id,
                data: this.value
            });

            this.form = this.$el.closest('form');
            this.form.addEventListener('submit', this.onFormSubmitBound);
        },

        unmounted() {
            this.form.removeEventListener('submit', this.onFormSubmitBound);
        },

        data() {
            return {
                editor: null,
                form: null,
                error: false,
                onFormSubmitBound: this.onFormSubmit.bind(this)
            };
        },

        props: {
            id: {
                type: String,
                default: 'editorjs'
            },

            name: {
                type: String,
                default: 'content'
            },

            value: {
                type: Object,
                default() {
                    return {};
                }
            }
        },

        methods: {
            onFormSubmit(e) {
                if (e && e.preventDefault) e.preventDefault();

                this.error = false;

                this.editor.save()
                    .then(output => {
                        this.$el.querySelector('.output').value = JSON.stringify(output);
                        this.form.submit();
                    })
                    .catch(error => this.error = true);
            }
        }
    };
</script>
