<template>
    <div class="menu-editor-component">
        <input type="text" style="display: none;" :name="name" :value="output()">

        <div class="section-container" v-for="(section, sectionIndex) in mutableContent.sections" :key="section.id">
            <button class="add-section-button" type="button" v-if="sectionIndex === 0" @click="addSection('before', sectionIndex)">
                <span class="content-hider">
                    <i class="fa fa-plus"></i> Add Section
                </span>
            </button>

            <section class="section" :data-id="section.id">
                <header class="section-header">
                    <input type="text" placeholder="Untitled Section" v-model="section.name">

                    <div class="controls">
                        <i class="fa fa-trash-o" @click="deleteSection(section)"></i>

                        <i class="fa" :class="{ 'fa-chevron-down': !isOpen(section), 'fa-chevron-up': isOpen(section) }" @click="toggle(section)"></i>
                    </div>
                </header>

                <div class="section-body" v-if="isOpen(section)">
                    <div class="item-container" v-for="(item, itemIndex) in section.items" :key="item.id">
                        <button class="add-item-button" type="button" @click="addItem(section, 'before', itemIndex)" v-if="itemIndex === 0">
                            <span class="content-hider">
                                <i class="fa fa-plus"></i> Add Item
                            </span>
                        </button>

                        <div class="item" :data-id="item.id">
                            <i class="fa fa-trash-o" @click="deleteItem(section, item)"></i>

                            <div class="form-group">
                                <label for="name">Name</label>

                                <input id="name" type="text" v-model="item.name">
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>

                                <textarea id="description" v-model="item.description" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="price">Price</label>

                                <input id="price" v-model="item.price">
                            </div>
                        </div>

                        <button class="add-item-button" type="button" @click="addItem(section, 'after', itemIndex)">
                            <span class="content-hider">
                                <i class="fa fa-plus"></i> Add Item
                            </span>
                        </button>
                    </div>
                </div>
            </section>

            <button class="add-section-button" type="button" @click="addSection('after', sectionIndex)">
                <span class="content-hider">
                    <span class="fa fa-plus"></span> Add Section
                </span>
            </button>
        </div>
    </div>
</template>

<script>
    import useHelpers from '@/composables/useHelpers';

    const { generateId } = useHelpers();

    export default {
        mounted() {
            const mutableContent = (this.content && this.content.sections && this.content.sections.length) ? _.cloneDeep(this.content) : this.defaultContent();

            for (const section of mutableContent.sections) {
                if (!section.id || !section.id.length) section.id = generateId();

                for (const item of section.items) {
                    if (!item.id || !item.id.length) item.id = generateId();
                }
            }

            this.mutableContent = mutableContent;
        },

        data() {
            return {
                openSections: [],
                mutableContent: {
                    content: {
                        sections: []
                    }
                }
            };
        },

        props: {
            name: {
                type: String,
                default: 'content'
            },

            content: {
                type: [Array, Object],
                default() {
                    return {
                        content: {
                            sections: []
                        }
                    };
                }
            }
        },

        methods: {
            addItem(section, operation, index) {
                const item = this.defaultItem();

                section.items.splice((operation === 'after') ? index + 1 : index, 0, item);

                this.$nextTick(() => this.$el.querySelector(`.item[data-id=${item.id}] input`).focus());
            },

            addSection(operation, index) {
                const section = this.defaultSection();

                this.mutableContent.sections.splice((operation === 'after') ? index + 1 : index, 0, section);

                this.openSections.push(section.id);

                this.$nextTick(() => this.$el.querySelector(`section[data-id=${section.id}] input`).focus());
            },

            defaultContent() {
                const content = {
                    id: generateId(),
                    sections: [
                        this.defaultSection()
                    ]
                };

                this.openSections.push(content.sections[0].id);

                return content;
            },

            defaultItem() {
                return {
                    id: generateId(),
                    name: '',
                    description: '',
                    price: ''
                };
            },

            defaultSection() {
                return {
                    id: generateId(),
                    name: '',
                    items: [
                        this.defaultItem()
                    ]
                };
            },

            deleteItem(section, item) {
                if (!confirm(`Are you sure you want to delete the "${item.name}" item?`)) return false;
                const index = section.items.indexOf(item);
                if (index >= 0) section.items.splice(index, 1);
                if (!section.items.length) section.items.push(this.defaultItem());
            },

            deleteSection(section) {
                if (!confirm(`Are you sure you want to delete the "${section.name}" section?`)) return false;
                const index = this.mutableContent.sections.indexOf(section);
                if (index >= 0) this.mutableContent.sections.splice(index, 1);
                if (!this.mutableContent.sections.length) this.mutableContent.sections.push(this.defaultSection());
            },

            isOpen(section) {
                return this.openSections.indexOf(section.id) >= 0;
            },

            open(section) {
                const index = this.openSections.indexOf(section.id);
                if (index < 0) this.openSections.push(section.id);
            },

            close(section) {
                const index = this.openSections.indexOf(section.id);
                if (index >= 0) this.openSections.splice(index, 1);
            },

            toggle(section) {
                this.isOpen(section) ? this.close(section) : this.open(section);
            },

            output() {
                return JSON.stringify(this.mutableContent);
            }
        }
    }
</script>
