<template>
    <div class="random-background-component"></div>
</template>

<script>
    export default {
        mounted() {
            const background = this.backgrounds[Math.floor(Math.random() * this.backgrounds.length)];
            document.body.setAttribute('style', `background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url('${background}');`);
        },

        props: {
            backgrounds: {
                type: Array,
                required: true
            }
        }
    };
</script>
