<style lang="scss">
    @import '~/master/variables';

    .resource-filter-component {
        background: white;
        box-shadow: $shadow;
        border-radius: 0.25rem;

        .spinner {
            display: block;
            padding: 1rem;
            color: $secondaryColor;
        }

        section {
            border-top: 1px solid darken(white, 10%);

            &:first-of-type {
                border-top: 0;
            }
        }

        section.search {
            display: flex;
            align-content: center;
            gap: 1rem;
            padding: 1rem;

            .fal {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        li {
            cursor: pointer;
            padding: 1rem;
        }

        section.selected-resources li {
            color: white;
            background: $primaryColor;

            &:first-of-type {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }

            .fal {
                margin-right: 1rem;
            }
        }

        section.selectable-resources p {
            padding: 1rem;
        }
    }
</style>

<template>
    <div class="resource-filter-component">
        <span class="spinner" v-if="loading">
            <span class="fal fa-lg fa-circle-notch fa-spin"></span>
        </span>

        <div v-else>
            <section class="selected-resources" v-if="selectedResources.length">
                <ul>
                    <li v-for="resource in selectedResources" @click="onDeselect(resource)">
                        <span class="fal fa-check-circle"></span>

                        {{ resource[displayKey] }}

                        <input type="hidden" :name="name" :value="resource[primaryKey]">
                    </li>
                </ul>
            </section>

            <section class="search">
                <input type="search" v-model="query">

                <span class="fal fa-search"></span>
            </section>

            <section class="selectable-resources">
                <ul v-if="visibleUnselectedResources.length">
                    <li v-for="resource in visibleUnselectedResources" @click="onSelect(resource)">
                        {{ resource[displayKey] }}
                    </li>
                </ul>

                <p v-else>
                    No resources found.
                </p>
            </section>
        </div>
    </div>
</template>

<script setup>
    import { computed, onMounted, onUnmounted, ref } from 'vue';

    const props = defineProps({
        displayKey: {
            type: String,
            default: 'name'
        },

        id: {
            type: String,
            default: 'resources'
        },

        loadUrl: {
            type: String,
            required: true
        },

        modelValue: {
            type: Array,
            default: () => []
        },

        multiple: {
            type: Boolean,
            default: true
        },

        name: {
            type: String,
            default: 'resources[]'
        },

        primaryKey: {
            type: String,
            default: 'id'
        }
    });

    const abortController = new AbortController();

    const loading = ref(false);
    const modelValue = ref(props.modelValue.slice());
    const query = ref('');
    const resources = ref([]);

    const selectedResources = computed(() => resources.value.filter(resource => modelValue.value.indexOf(resource[props.primaryKey]) >= 0));
    const visibleUnselectedResources = computed(() => {
        let filtered = resources.value.slice();

        filtered = filtered.filter(resource => modelValue.value.indexOf(resource[props.primaryKey]) < 0);

        filtered = filtered.filter(resource => resource[props.displayKey].toLowerCase().indexOf(query.value.toLowerCase()) >= 0);

        return filtered;
    });

    const loadResources = async () => {
        if (loading.value) return;
        loading.value = true;

        axios.get(props.loadUrl)
            .then(response => resources.value = response.data)
            .catch(error => alert('Something went wrong.'))
            .then(() => loading.value = false);
    };

    const onDeselect = resource => modelValue.value.splice(modelValue.value.indexOf(resource[props.primaryKey]), 1);

    const onSelect = resource => {
        if (props.multiple) {
            modelValue.value.push(resource[props.primaryKey]);
        } else {
            modelValue.value = [resource[props.primaryKey]];
        }
    };

    onMounted(() => loadResources());
    onUnmounted(() => abortController.abort());
</script>
