<style lang="scss" scoped>
    @import '~/master/variables';

    .buttons {
        display: flex;
        gap: 1rem;
    }

    .button.good:not(.outline), .button.good:hover {
        background: green;
        border-color: green;
    }

    .button.bad:not(.outline), .button.bad:hover {
        background: darkred;
        border-color: darkred;
    }

    a.button {
        display: inline-block;
        margin-bottom: 1rem;
    }
</style>

<template>
    <div class="review-component">
        <p style="max-width: 72ch;">We appreciate your feedback. A <strong>positive</strong> review can help boost our business, but a <strong>negative</strong> review can be just as helpful. If you had a bad experience, letting us know the details can help to ensure that it doesn't occur again for future customers. It can also help us reach out to offer compensation or to notify you when things change.</p>

        <fieldset>
            <div class="form-group required">
                <label for="experience">What sort of experience did you have with us?</label>

                <div class="buttons">
                    <button class="good button" :class="{ outline: experience !== 'positive' }" type="button" @click="experience = 'positive'">
                        Good
                    </button>

                    <button class="bad button" :class="{ outline: experience !== 'negative' }" type="button" @click="experience = 'negative'">
                        Bad
                    </button>
                </div>

                <p v-if="experience === 'negative'" style="margin-top: 1rem;">We're sorry to hear that. Let us know the details so we can fix it.</p>
            </div>
        </fieldset>

        <fieldset v-if="experience === 'positive'">
            <legend>Write a Review</legend>

            <p>Great! Share your experience with the world by writing a Google Review!</p>

            <a class="button" target="_blank" href="https://g.page/r/CROhXrnJkd87EB0/review">
                <span class="fal fa-edit"></span> Write a Google Review
            </a>
        </fieldset>

        <form v-if="experience === 'negative'" method="POST">
            <input type="hidden" name="_token" :value="csrfToken">
            <input type="hidden" name="experience" value="negative">

            <fieldset>
                <legend>Contact Information</legend>

                <div class="form-row">
                    <div class="form-group required">
                        <label for="first_name">First Name</label>

                        <input id="first_name" name="first_name" type="text" v-model="first_name">
                    </div>

                    <div class="form-group required">
                        <label for="last_name">Last Name</label>

                        <input id="last_name" name="last_name" type="text" v-model="last_name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group required">
                        <label for="email">Email</label>

                        <input id="email" name="email" type="text" v-model="email">
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>

                        <input id="phone" name="phone" type="tel" v-model="phone">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Experience Details</legend>

                <div class="form-group required">
                    <label for="when">When did you visit us?</label>

                    <input id="when" name="when" type="text" v-model="when">
                </div>

                <div class="form-group">
                    <label for="server">Who was your server?</label>

                    <input id="server" name="server" type="text" v-model="server">
                </div>

                <div class="form-group">
                    <label for="spoke_to_manager">Did you speak to a manager while you were in the restaurant?</label>

                    <select id="spoke_to_manager" name="spoke_to_manager" v-model="spoke_to_manager">
                        <option value="no">No</option>

                        <option value="yes">Yes</option>
                    </select>
                </div>

                <div class="form-group" v-if="spoke_to_manager === 'yes'">
                    <label for="manager">Name of Manager (if known)</label>

                    <input id="manager" name="manager" type="text" v-model="manager">
                </div>

                <div class="form-group">
                    <label for="other_staff_involved">Were there any other staff members involved?</label>

                    <select id="other_staff_involved" name="other_staff_involved" v-model="other_staff_involved">
                        <option value="no">No</option>

                        <option value="yes">Yes</option>
                    </select>
                </div>

                <div class="form-group" v-if="other_staff_involved === 'yes'">
                    <label for="other_staff">Please provide any staff member names that you may know.</label>

                    <textarea id="other_staff" name="other_staff" rows="5" v-model="other_staff"></textarea>
                </div>

                <div class="form-group required">
                    <label for="details">Details</label>

                    <textarea id="details" name="details" rows="5" v-model="details"></textarea>
                </div>

                <button class="button" type="submit">
                    <span class="fal fa-envelope"></span> Submit Experience Details
                </button>
            </fieldset>
        </form>
    </div>
</template>

<script setup>
    import { ref } from 'vue';

    const csrfToken = window.Laravel.csrfToken;

    const props = defineProps({
        old: {
            type: [Array, Object],
        }
    });

    const experience = ref(props.old.experience ?? '');

    const first_name = ref(props.old.first_name ?? '');
    const last_name = ref(props.old.last_name ?? '');
    const email = ref(props.old.email ?? '');
    const phone = ref(props.old.phone ?? '');

    const when = ref(props.old.when ?? '');
    const server = ref(props.old.server ?? '');
    const spoke_to_manager = ref(props.old.spoke_to_manager ?? 'no');
    const manager = ref(props.old.manager ?? '');
    const other_staff_involved = ref(props.old.other_staff_involved ?? 'no');
    const other_staff = ref(props.old.other_staff ?? '');
    const details = ref(props.old.details ?? '');
</script>
