<template>
    <div class="slug-component">
        <input :id="id" :name="name" type="text" v-model="slug" @input="manuallyUpdate" @blur="slug = trim(slug)">
    </div>
</template>

<script>
    export default {
        mounted() {
            this.input = this.$el.querySelector('input');
            this.dependent = document.querySelector(this.for);

            if (this.dependent) {
                this.dependent.addEventListener('input', this.update.bind(this));
            }

            if (this.value) {
                this.manual = true;
                this.slug = this.value;
            }
        },

        data() {
            return {
                input: null,
                dependent: null,
                manual: false,
                slug: ''
            };
        },

        props: {
            id: {
                type: String,
                default: 'slug'
            },

            name: {
                type: String,
                default: 'slug'
            },

            for: {
                type: String,
                default: '#name'
            },

            value: {
                type: String,
                default: ''
            }
        },

        methods: {
            format(value) {
                value = value.toLowerCase();
                value = value.replace(/\W/gi, '-');
                value = value.replace(/-{2,}/gi, '-');
                return value;
            },

            manuallyUpdate() {
                const start = this.input.selectionStart;
                const end = this.input.selectionEnd;

                this.manual = true;

                this.slug = this.format(this.slug);

                this.$nextTick(() => this.input.setSelectionRange(start, end));
            },

            trim(value) {
                value = value.trim();
                if (value.substr(0, 1) === '-') value = value.substr(1);
                if (value.substr(value.length - 1, 1) === '-') value = value.substr(0, value.length - 1);
                return value;
            },

            update() {
                if (this.manual) return false;
                this.slug = this.format(this.dependent.value);
                this.slug = this.trim(this.slug);
            }
        }
    }
</script>
