<style lang="scss">
    @import '~/master/variables';

    .spend-points-modal {
        max-width: 100%;
        min-width: 20rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        border-radius: 0.5rem;
        overflow: hidden;
        z-index: 11;
        box-shadow: $shadow;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid darken(white, 15%);
            gap: 2rem;
        }

        section {
            padding: 1rem;
        }

        .button-group {
            display: flex;
            flex-direction: column;

            button {
                flex: 1;
                padding: 0.5rem;
                margin-top: -1px;
                color: black;
                font-weight: 700;
                border: 1px solid $primaryColor;
                white-space: nowrap;

                &:first-of-type {
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                }

                &:last-of-type {
                    border-bottom-left-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                }

                &.active {
                    color: white;
                    background: $primaryColor;
                }
            }
        }

        canvas {
            display: block;
            margin: 0 auto 1rem auto;
            border-radius: 0.5rem;
            box-shadow: $shadow;
        }

        p {
            max-width: 72ch;
            text-align: center;
        }
    }
</style>

<template>
    <div class="spend-points-component">
        <a href="#" @click.prevent="state = 'determiningSpend'">
            <slot></slot>
        </a>
    </div>

    <Teleport to="body">
        <Transition name="fade" @click="state = 'idle'">
            <div class="shade" v-if="is('determiningSpend', 'presentingQrCode')"></div>
        </Transition>

        <Transition name="fade-up">
            <div class="spend-points-modal" v-if="is('determiningSpend', 'presentingQrCode')" :style="{ top }">
                <header>
                    <h2>Spend Pico Points</h2>

                    <a href="#" @click.prevent="state = 'idle'">
                        Cancel <span class="fal fa-times"></span>
                    </a>
                </header>

                <section :style="is('presentingQrCode') ? 'background: #ddd' : ''">
                    <form v-if="is('determiningSpend')" @submit.prevent="state = 'presentingQrCode'">
                        <div class="form-group required">
                            <label for="amount">Amount to Spend</label>

                            <div class="button-group">
                                <button v-for="value in buttons" type="button" :class="{ active: value === selectedAmount }" @click="selectedAmount = value">
                                    <span v-if="value === selectedAmount" class="fal fa-check-circle"></span>

                                    {{ value }} <span v-if="parseInt(value) > 0">pts.</span>
                                </button>
                            </div>
                        </div>

                        <div class="form-group required" v-if="selectedAmount === 'Custom'">
                            <label for="custom_amount">Custom Amount</label>

                            <input id="custom_amount" type="number" step="1" min="1" :max="Math.min(props.user.points, 2000)" v-model="customAmount">
                        </div>

                        <div class="form-group">
                            <label for="dollar_value">Dollar Value</label>

                            <input id="dollar_value" readonly :value="dollarValue">
                        </div>

                        <button class="button" type="submit">
                            Spend Points

                            <span class="fal fa-long-arrow-right"></span>
                        </button>
                    </form>

                    <div v-if="is('presentingQrCode')">
                        <canvas ref="canvas"></canvas>

                        <p class="form-help">
                            Show this QR code to the manager and they will use it to discount your order.
                        </p>
                    </div>
                </section>
            </div>
        </Transition>
    </Teleport>
</template>

<script setup>
    import QRCode from 'qrcode';
    import { computed, nextTick, ref, Teleport, watch } from 'vue';

    const props = defineProps({
        url: {
            type: String,
            required: true
        },

        user: {
            type: Object,
            required: true
        }
    });

    const states = ['idle', 'determiningSpend', 'presentingQrCode'];
    const _state = ref('idle');
    const state = computed({
        get: () => _state.value,
        set: value => _state.value = states.indexOf(value) >= 0 ? value : 'idle'
    });

    const presentingQrCode = ref(false);
    const selectedAmount = ref(0);
    const customAmount = ref(0);
    const canvas = ref(null);

    const pointsToSpend = computed(() => {
        switch (selectedAmount.value) {
            case 'All':
                return props.user.points;

            case 'Custom':
                return customAmount.value;

            default:
                return parseInt(selectedAmount.value);
        }
    });

    const dollarValue = computed(() => {
        const formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD'
        });

        let value;
        switch (selectedAmount.value) {
            case 'All':
                value = props.user.points
                break;

            case 'Custom':
                value = customAmount.value;
                break;

            default:
                value = pointsToSpend.value;
                break;
        }

        return formatter.format(
            Math.max(
                parseFloat(
                    ((value * 5) / 100).toFixed(2)
                ),
                0
            )
        );
    });
    const top = computed(() => state.value !== 'idle' ? `${window.scrollY + 32}px` : '0');
    const buttons = computed(() => {
        const value = [];
        const thresholds = [100, 200, 300, 400, 500];

        for (const threshold of thresholds) {
            if (props.user.points < threshold) break;
            value.push(threshold);
        }

        value.push('All');
        value.push('Custom');

        selectedAmount.value = value[0];

        return value;
    });

    const is = (...givenStates) => givenStates.indexOf(state.value) >= 0;

    watch(state, async currentState => {
        if (currentState === 'presentingQrCode') {
            await nextTick();
            QRCode.toCanvas(canvas.value, props.url + '?value=' + pointsToSpend.value);
        }
    })
</script>
