<style lang="scss">
    @import '~/master/variables';

    .tooltip-component {
        cursor: help;
        display: inline-block;
        position: relative;

        .fal {
            color: black;
        }
    }

    .tooltip {
        cursor: help;
        width: 16rem;
        position: absolute;
        z-index: 10;
        background: rgb(0 0 0 / 95%);
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;
        color: white;
        font-weight: 400;
        font-family: $font-sans;
        filter: drop-shadow(0 5px 10px black);

        &::after {
            content: ' ';
            display: block;
            position: absolute;
            border: 1rem solid transparent;
        }

        &.xy-top-left {
            border-bottom-right-radius: 0;
            transform: translate(-100%, calc(-100% - 1.5rem - 2px));

            &::after {
                top: 100%;
                left: 100%;
                transform: translate(-100%, 0);
                border-width: 0.5rem;
                border-top-color: rgb(0 0 0 / 95%);
                border-right-color: rgb(0 0 0 / 95%);
            }
        }

        &.xy-top-center {
            transform: translate(-50%, calc(-100% - 1.5rem - 2px));

            &::after {
                top: 100%;
                left: 50%;
                transform: translate(-50%, 0);
                border-top-color: rgb(0 0 0 / 95%);
            }
        }

        &.xy-top-right {
            border-bottom-left-radius: 0;
            transform: translate(0, calc(-100% - 1.5rem - 2px));

            &::after {
                top: 100%;
                left: 0;
                border-width: 0.5rem;
                border-top-color: rgb(0 0 0 / 95%);
                border-left-color: rgb(0 0 0 / 95%);
            }
        }

        &.xy-bottom-left {
            border-top-right-radius: 0;
            transform: translate(calc(-100% - 1.5rem - 2px), 0);

            &::after {
                left: 100%;
                top: 0;
                border-width: 0.5rem;
                border-top-color: rgb(0 0 0 / 95%);
                border-left-color: rgb(0 0 0 / 95%);
            }
        }

        &.xy-bottom-center {
            transform: translate(-50%, calc(1.5rem + 2px));

            &::after {
                top: 0;
                left: 50%;
                transform: translate(-50%, -100%);
                border-bottom-color: rgb(0 0 0 / 95%);
            }
        }

        &.xy-bottom-right {
            border-top-left-radius: 0;
            transform: translate(calc(1.5rem + 2px), 0);

            &::after {
                top: 0;
                left: 0;
                border-width: 0.5rem;
                transform: translate(-100%, 0);
                border-top-color: rgb(0 0 0 / 95%);
                border-right-color: rgb(0 0 0 / 95%);
            }
        }
    }
</style>

<template>
    <div class="tooltip-component" @mouseenter="onHover" @mouseleave="onUnhover">
        <Teleport to="body">
            <p class="tooltip" :class="`xy-${placement.vertical}-${placement.horizontal}`" v-if="active" :style="{ top: `${position.y}px`, left: `${position.x}px` }" @mouseenter="onHover" @mouseleave="onUnhover">
                <slot></slot>
            </p>
        </Teleport>

        <span class="fal" :class="`fa-${icon}`" ref="iconElement"></span>
    </div>
</template>

<script setup>
    import { ref, Teleport } from 'vue';

    const props = defineProps({
        icon: {
            type: String,
            default: 'question-circle'
        }
    });

    let timer = 0;
    const delay = 500;

    const position = ref({ x: 0, y: 0 });
    const active = ref(false);
    const iconElement = ref(null);
    const placement = ref({ horizontal: 'center', vertical: 'bottom' });

    const decideHorizontalPlacement = iconBounds => {
        // Tooltip is <= 16rem (256px) wide. If the placement would exceed the bounds at this width, placement is adjusted.
        switch (true) {
            case ((iconBounds.left - 128) < 0): // 128 = 256 / 2
                placement.value.horizontal = 'right';
                break;

            case ((iconBounds.right + 128) > window.innerWidth): // 128 = 256 / 2
                placement.value.horizontal = 'left';
                break;

            default:
                placement.value.horizontal = 'center';
                break;
        }
    };

    const decideVerticalPlacement = iconBounds => {
        const distances = {
            top: iconBounds.top,
            bottom: window.innerHeight - iconBounds.bottom
        };

        placement.value.vertical = (distances.top > distances.bottom) ? 'top' : 'bottom';
    };

    const onHover = () => {
        active.value = true;
        clearTimeout(timer);

        const viewport = {
            width: window.innerWidth,
            height: window.innerHeight
        };

        const iconBounds = iconElement.value.getBoundingClientRect();

        decideHorizontalPlacement(iconBounds);
        decideVerticalPlacement(iconBounds);

        position.value.x = window.scrollX + iconBounds.left + (iconBounds.width / 2);
        position.value.y = window.scrollY + iconBounds.top + (iconBounds.height / 2);
    };

    const onUnhover = () => {
        clearTimeout(timer);
        timer = setTimeout(() => active.value = false, delay);
    };
</script>
