.admin-header
{
    margin-bottom: 20px;
    padding-bottom: 20px;
    // border-bottom: 1px solid $lightGrey;
    overflow: hidden;

    h1, h2, h3, h4, h5, h6
    {
        font-size: 2rem;
        float: left;
    }

    .button
    {
        float: left;
        margin-left: 20px;
        position: relative;
        top: 2px;
    }

    @import '../admin/search';
}
