table.resource-listing {
    width: 100%;
    box-shadow: $shadow;
    border-radius: 0.5rem;
    overflow: hidden;

    th, td {
        color: black;
        padding: 1rem;
        background: white;
        line-height: 1.5;
        vertical-align: middle;

        * {
            transition: none;
        }
    }

    th {
        color: black;
        font-weight: 800;
        text-align: left;
        padding-bottom: 1rem;
    }

    td {
        &.icon {
            width: 1px;
            text-align: center;
            color: $primaryColor;

            button {
                color: $primaryColor;
            }
        }
    }

    tr {
        &:nth-child(even) {
            th, td {
                background: darken(white, 15%);
                transition: background 0.25s ease;
            }
        }

        &:hover {
            th, td {
                color: white;
                background: $primaryColor;

                * {
                    color: white;
                }
            }
        }
    }
}
