.admin-search
{
    float: right;
    position: relative;
    top: 4px;

    input
    {
        outline: none;
        border-radius: 4px;
        border: 1px solid $lightGrey;
        padding: 8px;
        &:focus
        {
            border: 1px solid $primaryColor;
        }
    }

    button
    {
        margin-left: 10px;
    }

}
