.admin-sidebar {
    min-width: 15rem;
    background-color: white;

    a {
        display: block;
        padding: 1rem;
        box-sizing: border-box;
        transition: background-color 0.25s ease, color 0.25s ease;

        &:hover, &.active {
            color: white;
            background-color: $primaryColor;
        }
    }
}

.admin-sidebar + div {
    flex: 1;
}
