button {
    cursor: pointer;
    outline: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: $textColor;
    background-color: transparent;
}

.button {
    cursor: pointer;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    box-shadow: 0 3px 0 shade($primaryColor, 20%), 0 1px 1px $grey;
    transition: background-color 0.25s ease, box-shadow 0.25s ease;
    &:hover {
        color: white;
        background-color: $secondaryColor;
        border-color: $secondaryColor;
        box-shadow: 0 3px 0 shade($secondaryColor, 20%), 0 4px 20px $grey;
    }

    &.outline {
        color: $primaryColor;
        border: 1px solid $primaryColor;
        background-color: transparent;
        transition: background-color 0.25s ease, color 0.25s ease;
        &:hover {
            color: white;
            background-color: $primaryColor;
        }
    }
}

a.button {
    display: inline-block;
}
