fieldset {
    border-radius: 0.5rem;
    border: 1px solid $primaryColor;
    padding: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    legend {
        color: white;
        border: 1px solid $primaryColor;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        background-color: $primaryColor;
    }
}

.form-row {
    display: flex;
    gap: 2rem;
    @media (max-width: 959px) {
        flex-direction: column;
        gap: 0;
    }

    > * {
        flex: 1;
    }
}

.form-group {
    display: block;
    margin-bottom: 1rem;

    label {
        display: block;
        padding-bottom: 10px;
    }

    input:not([type="checkbox"], [type="radio"]), select, textarea {
        outline: none;
        width: 100%;
        border: 1px solid $lightGrey;
        border-radius: 4px;
        padding: 8px 12px;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        transition: border-color 0.25s ease;
        &:focus {
            border-color: $primaryColor;
        }

        &[readonly] {
            cursor: not-allowed;
            background: darken(white, 15%);
            border: 1px solid darken(white, 25%);
        }
    }

    input[type="checkbox"], input[type="radio"] {
        width: auto;
        border-radius: 0;
    }

    &.required {
        label:after {
            content: ' *';
            color: #e00;
        }
    }
}

.form-help {
    margin-top: 0.5rem;
    font-style: italic;
    line-height: 1.5;
}
