html, body
{
    color: $textColor;
    background-color: $offWhite;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: $primaryColor;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

a {
    color: $primaryColor;
    text-decoration: none;
    transition: color 0.25s ease;
    &:hover {
        color: $secondaryColor;
    }
}

strong
{
    font-weight: 700;
}

em
{
    font-style: italic;
}

hr
{
    border: 0;
    border-top: 1px solid $lightGrey;
    margin: 20px auto;
    &.accent { width: 50%; }
}

.wrapper
{
    width: 1200px;
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 1200px)
    {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
    }

    &.padded
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

[v-cloak] {
    display: none;
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 80%);
    z-index: 10;
}
