$font-sans: 'Roboto', sans-serif;

$primaryColor: #262235;
$secondaryColor: #a0010d;
$tertiaryColor: #000;
$textColor: #666;

$offWhite: #eee;
$lightGrey: #ccc;
$grey: #999;
$midGrey: #666;
$darkGrey: #333;

$shadow: 0 20px 25px -5px rgb(0 0 0 / 15%), 0 10px 15px -5px rgb(0 0 0 / 25%);
$shadow-darker: 0 20px 25px -5px rgb(0 0 0 / 25%), 0 10px 15px -5px rgb(0 0 0 / 35%);
$shadow-lighter: 0 20px 25px -5px rgb(0 0 0 / 5%), 0 10px 15px -5px rgb(0 0 0 / 15%);
