.menu
{

    .menu-name
    {
        color: $secondaryColor;
        font-size: 3em;
        text-align: center;
        margin: 32px auto;
        @media screen and (max-width: 480px)
        {
            font-size: 2.5em;
        }
    }

    .menu-section
    {
        margin: 32px auto;
        @media screen and (max-width: 480px)
        {
            text-align: left !important;
        }

        .section-name
        {
            color: $secondaryColor;
            font-size: 3em;
            text-transform: uppercase;
            margin-bottom: 32px;
            @media screen and (max-width: 480px)
            {
                font-size: 2em;
                text-align: left !important;
            }
        }

        .menu-item
        {
            margin: 16px 0;
            text-align: left;
            line-height: 1.25em;

            .name, .description, .price
            {
                display: inline;
                font-family: 'Teko', sans-serif;
                font-weight: 600;
                color: $darkGrey;
            }

            .name
            {
                font-size: 1.5em;
                text-transform: uppercase;
            }

            .flag
            {
                display: inline-block;
                font-size: 1rem;
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 100%;
                background-color: #000;
                color: white;
                text-align: center;
                line-height: 1.5rem;
                margin-left: 0.5rem;
                position: relative;
                top: -2px;
            }

            .description, .price
            {
                font-size: 1.25em;
                margin-left: 8px;
            }

        }

    }

}
