.auth-form {
    width: 40rem;
    max-width: 100%;
    background: white;
    border-radius: 4px;
    margin: 2rem auto;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: $shadow;

    header {
        padding: 1rem;
        border-bottom: 1px solid darken(white, 15%);

        h1 {
            font-size: 1.5rem;
        }
    }

    section {
        padding: 1rem;
    }

    footer {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid darken(white, 15%);

        > *:only-child {
            margin-left: auto;
        }
    }
}
